<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Riku</a>
  </div>
  <div class="logo">
    <a href="#">ロゴ</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">キャンプ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">クロージング</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">FG</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">フィッシング</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">その他</a>
    </div>
  </div>
</div>